body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.caps {
   text-transform: capitalize;
}
.list-group-item {
   text-transform: capitalize;
}
.low {
   background-color: greenyellow;
}
.medium {
   background-color: rgb(250, 250, 128);
}
.high {
   background-color: red;
}
.very-high {
   background-color: rgb(201, 97, 201);
}
.extreme {
   background-color: rgb(61, 1, 172);
}
